/*GENERAL*/

body {
  font-family: 'Give You Glory', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; 
}

h3 {
  text-align: center;
  margin: 0 0 1em 0;
}

/*HEADING*/

header {
 
  margin: 0px 0 25px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

.social-icon {
  float: right;
  width: 20px;
  height: 20px;
  margin: 0 5px; 
}

/*  sista in transition logo  */
#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Shadows Into Light Two', sans-serif;
  margin: 15px 0;
  font-size: 3em;
  font-weight: bold;
  line-height: 0.8em;
}



/*NAVIGATION*/

nav ul {
 list-style: none;
  margin: 8px 0px 5px;
  padding: 0;
  font-size: 20px;
}

/*   made nav bar horizontal  */
nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/*COLOR*/

/* site body */
body {
  background-color: darkgoldenrod;
  color: #000;
}

/* black header */
header {
  background: #210602;
  padding-bottom: 25px;
}

/* nav background on mobile */
nav {
  background: darkred;
  padding: 0.5px;
  
}

/* logo text */
h1, h2 {
  color: darkgoldenrod;
}

/* links */
a {
  color: black;
}

/* nav link */
nav a, nav a:visited {
  color: darkgoldenrod;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: black;
}


/*FOOTER*/

footer {
  font-size: 18px;
  text-align: center;
  clear: both;
  color: black;
}


/*PAGE: MAIN/GALLERY*/

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides li {
  float: left;
  width: 40%;
  margin: 2.5%;
  border: 7px solid #210602;
  background-color: #210602;
  color: #b8860b;
}

.slides li a p {
  margin: 0;
  padding: 2%;
  font-size: 27px;
  color: goldenrod;
}


/*PAGE: ABOUT*/

.profile-photo {
  max-width: 97%;
  margin: 0 auto 1em;
  border: 7px solid #210602;
  background-color: #210602;
  display: block;
}


/*PAGE: CONTACT*/

form {
  color:#b8860b;
  font-size: 20px;
  font-weight: 600;
  border: 15px solid #210602;
  background-color: darkkhaki;
}