/********************
GENERAL
********************/

body {
  font-family: 'Give You Glory', sans-serif;
}

#wrapper {
  max-width: 940px;  /**** want width to be no larger than 940pixels across ****/
  margin: 0 auto;
  padding: 0 5%;     /*** first value reps top and bottom, second value reps left and right****/
}


a {
  text-decoration: none;
}
/*    max width tells images to fill the width of their parent container*/
img {
  max-width: 100%; 
}


h3  {
  text-align: center;
  font-size: 21px; 
  margin: 0 0 1em 0;
}



/********************
HEADING
********************/

header {
  margin: 0px 0px 25px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

.social-icon {
  float : left;
  width: 20px;
  height: 20px;
  margin: 0 10px; 
}

/*  sista in transition logo  */
#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Shadows Into Light Two', sans-serif;
  margin: 15px 0;
  font-size: 3em;
  font-weight: bold;
  line-height: 0.8em;
}
h2 {
  font-family: 'Give You Glory', sans-serif;
  font-weight: bold;
}

#getQuotes{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}



/********************
NAVIGATION
********************/

nav ul {
 list-style: none;
  margin: 8px 0px 10px;
  padding: 0;
  font-size: 20px;
}

/*   made nav bar horizontal  */
nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 20px;
}



/********************
COLOR
********************/

/* site body */
body {
  background-color: darkgoldenrod;
  color: #000;
}

/* black header */
header {
  background: #210602;
  padding-bottom: 25px;
}

/* nav background on mobile */
nav {
  background: darkred;
  padding: 0.5px;
  
}

/* logo text */
h1 {
  color: darkgoldenrod;
}

/* links */
a {
  color: black;
}

/* nav link */
nav a, nav a:visited {
  color: darkgoldenrod;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: black;
}


/********************
FOOTER
********************/

footer {
  font-size: 18px;
  text-align: center;
  clear: both;
  color: black;
}


/********************
PAGE: MAIN/GALLERY
********************/

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery li {
  float: left;
  width: 40%;
  margin: 2.5%;
  border: 7px solid #210602;
  background-color: #210602;
  color: #b8860b;
}

/* .gallery li a {
  
  
} */

.gallery li a p {
  margin: 0;
  padding: 2%;
  font-size: 27px;
  color: goldenrod;
}


/********************
PAGE: ABOUT
********************/

.profile-photo {
  max-width: 97%;
  margin: 0 auto 1em;
  border: 7px solid #210602;
  background-color: #210602;
  display: block;
}

.container {
  max-width: 100%; 
}


/********************
PAGE: CONTACT
********************/

#form {
  max-width: 100%;
  margin: auto;
}

form {
  color:darkgoldenrod;
  font-size: 19px;
  font-weight: 600;
  border: 15px solid #210602;
  display: inline-block;
}








/* INDEX */

#container{
	width:800px;
	margin:50px auto;
	padding: 20px;
	width:50%;
}

#quoteContainer{
	width:75%;
	background: #fff;
	padding:10px;
	margin:30px auto;
	text-align: center;
  height:70px;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton{
	width:200px;
	margin-top: 10px;
	border:2px solid black;
	color:darkred;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}
h2 {
  text-align: center;
}

#quoteButton:hover{
	cursor:pointer;
	background:darkred;
	color: #210602;	
}
#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
}
